	<!--=============================================
	=            Header box topbar         =
	=============================================-->

	<header class="header header-box-topbar header-sticky">


		<!--=======  header bottom  =======-->

		<div class="header-bottom pt-40   pb-md-40  pb-sm-40">
			<div class="container">

				<!--=======  header bottom container  =======-->

				<div class="header-bottom-container">
						<!--=======  language and currency change  =======-->

						<div class="language-currency-change-container">
							<!--=======  language change =======-->
	
							<div class="language-change change-dropdown d-none d-lg-block">
								
	
								<ul>
									
								</ul>
							</div>
	
							<!--=======  End of language change =======-->
	
							<!--=======  header separator  =======-->
	
							<span class="header-separator d-none d-lg-block"></span>
	
							<!--=======  End of header separator  =======-->
	
							<!--=======  currency change =======-->
	
							<div class="currency-change change-dropdown d-none d-lg-block">
							
	
								<ul>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
								</ul>
							</div>
	
							<!--=======  End of currency change =======-->
						</div>
	
						<!--=======  End of language and currency change  =======-->
	
					<!--=======  logo with off canvas  =======-->
					
					<div class="logo-with-offcanvas" style="text-align: center;">
						<!--=======  logo   =======-->

						<div class="logo">
							<a href="index.html">
								<img src="assets/images/logo.png" class="img-fluid" alt="">
							</a>
						</div>

						<!--=======  End of logo   =======-->
					</div>

					<!--=======  End of logo with off canvas  =======-->

					<!--=======  headeer right container  =======-->

					<div class="header-right-container">

						<!--=======  header right icons  =======-->

						<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<!--=======  single-icon  =======-->

							<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon">
									<i class="ion-ios-search-strong"></i>
								</a>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							<div class="single-icon user-login">
								<a [routerLink]="['/login']">
									<i class="ion-android-person"></i>
								</a>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon">
									<i class="ion-ios-cart"></i>
									<span class="count"></span>
								</a>
							</div>
							<!--=======  End of single-icon  =======-->
						</div>
						<!--=======  End of header right icons  =======-->

					</div>

					<!--=======  End of headeer right container  =======-->

					<!--=======  header bottom navigation  =======-->

					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="/home">Trang chủ</a>
									</li>
									<li class="menu-item-has-children"><a href="javascript:void(0)">Sản phẩm</a>
										<ul class="sub-menu single-column-menu">
                                            <ng-container *ngFor="let ca of loai">
											<li><a [routerLink]="['/home/type-product', ca.maloai]">{{ca.tenloai}}</a></li>
                                            </ng-container>
										</ul>
									</li>
									<li class="menu-item-has-children"><a href="shop-left-sidebar.html">Thương Hiệu</a>
										<ul class="sub-menu mega-menu mega-menu-column-4">
											<li><a href="javascript:void(0)" class="mega-column-title"></a>
												<ul class="mega-sub-menu">
													<ng-container *ngFor="let th of thuonghieu">
														<li><a [routerLink]="['/home/brand', th.mathuonghieu]">{{th.tenthuonghieu}}</a></li>
													</ng-container>
												</ul>
											</li>
											<li><a href="javascript:void(0)" class="mega-column-title"></a>
												<ul class="mega-sub-menu">
													<ng-container *ngFor="let th of loaith">
													<li><a [routerLink]="['/home/brand', th.mathuonghieu]">{{th.tenthuonghieu}}</a></li>
													</ng-container>
												</ul>
											</li>
											<li>
												<div class="menu-image">
													<img src="assets/images/products/perfumes-2-1-600x800.jpg" class="img-fluid" alt="" style="height: 300px;width: 300px;">
												</div>
											</li>
										</ul>
									</li>
								<!--	<li class="menu-item-has-children"><a href="javascript:void(0)">Tin tức</a>
									</li>-->
									<li class="menu-item-has-children ">Về chúng tôi
									</li>
								</ul>
							</nav>
						</div>
					</div>

					<!--=======  End of header bottom navigation  =======-->

				</div>

				<!--=======  End of header bottom container  =======-->

			</div>
		</div>

		<!--=======  End of header bottom  =======-->
	</header>

	<!--===== End of Header box topbar ======-->

	<!--=============================================
	=            overlay items         =
	=============================================-->

	<!--=======  about overlay  =======-->

	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">

			<!--=======  close icon  =======-->

			<span class="close-icon" id="about-close-icon">
				<a href="javascript:void(0)">
					<i class="ti-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  overlay content container  =======-->

			<div class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<!--=======  widget wrapper  =======-->

				<div class="widget-wrapper">
					<!--=======  single widget  =======-->

					<div class="single-widget">
						<h2 class="widget-title">About Us</h2>
						<p>At Lezada, we put a strong emphasis on simplicity, quality and usefulness of fashion products over other
							factors. Our fashion items never get outdated. They are not short-lived as normal fashion clothes.</p>
					</div>

					<!--=======  End of single widget  =======-->
				</div>

				<!--=======  End of widget wrapper  =======-->

				<!--=======  contact widget  =======-->

				<div class="contact-widget">
					<p class="email"><a href="mailto:contact@lezada.com">contact@lezada.com</a></p>
					<p class="phone">(+00) 123 567990</p>

					<div class="social-icons">
						<ul>
							<li><a href="http://www.twitter.com/" data-tippy="Twitter" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-twitter"></i></a></li>
							<li><a href="http://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-facebook"></i></a></li>
							<li><a href="http://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-instagram"></i></a></li>
							<li><a href="http://www.youtube.com/" data-tippy="Youtube" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>

				<!--=======  End of contact widget  =======-->
			</div>

			<!--=======  End of overlay content container  =======-->
		</div>
	</div>

	<!--=======  End of about overlay  =======-->

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dining Chair</a></h5>
								<p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/03.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html">view wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<!--=======  cart overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas cart content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Giỏ hàng</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->
						<ng-contanier  *ngFor="let i of items">

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a (click)="_cart.deleteItem(i.masp)"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="#">
									<img src="assets/images/product/{{i.anh}}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="#">{{i.tensp}}</a></h5>
								<p><span class="cart-count">{{i.quantity}} x </span> <span class="discounted-price">{{i.dongia |number}}</span></p>

							</div>
						</div>
					  </ng-contanier>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  subtotal calculation  =======-->

					<p class="cart-subtotal">
						<span class="subtotal-title">Tổng tiền:</span>
						<span class="subtotal-amount">{{total| number}}</span>
					</p>

					<!--=======  End of subtotal calculation  =======-->

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a routerLink="/cart">XEM GIỎ HÀNG</a>
						<a routerLink="/checkout">THANH TOÁN</a>
					</div>

					<!--=======  End of cart buttons  =======-->

					<!--=======  free shipping text  =======-->

					<p class="free-shipping-text">
					
					</p>

					<!--=======  End of free shipping text  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas cart content container   =======-->
		</div>
	</div>

	<!--=======  End of cart overlay  =======-->


	<!--=======  search overlay  =======-->

	<div class="search-overlay" id="search-overlay">

		<!--=======  close icon  =======-->

		<span class="close-icon search-close-icon">
			<a href="javascript:void(0)" id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>

		<!--=======  End of close icon  =======-->

		<!--=======  search overlay content  =======-->

		<div class="search-overlay-content">
			<div class="input-box">
				<form action="#" [formGroup]="formsearch"  (ngSubmit)="search()">
					<input formControlName="tensp"  type="text" placeholder="Tìm kiếm sản phẩm..." >
					<a [routerLink]="['/search']" > <button (click)="search()" class="btn btn-sm btn-primary"></button></a>
				</form>
			</div>
			<div class="search-hint">
				<span></span>
			</div>
		</div>

		<!--=======  End of search overlay content  =======-->
	</div>

	<!--=======  End of search overlay  =======-->

	<!--=====  End of overlay items  ======-->
