<!--=======  breadcrumb area =======-->

<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="breadcrumb-title">Giỏ Hàng</h1>

              <!--=======  breadcrumb list  =======-->

              <ul class="breadcrumb-list">
                  <li class="breadcrumb-list__item"><a href="/">TRANG CHỦ</a></li>
                  <li class="breadcrumb-list__item breadcrumb-list__item--active">GIỎ HÀNG</li>
              </ul>

              <!--=======  End of breadcrumb list  =======-->

          </div>
      </div>
  </div>
</div>

<!--=======  End of breadcrumb area =======-->

<!--=============================================
=            cart page content         =
=============================================-->

<div class="shopping-cart-area mb-130">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 mb-30">
              <!--=======  cart table  =======-->

              <div class="cart-table-container">
                  <table class="cart-table">
                      <thead>
                          <tr>
                              <th class="product-name" colspan="2">Sản Phẩm</th>
                              <th class="product-price">Giá</th>
                              <th class="product-quantity">Số lượng</th>
                              <th class="product-subtotal">Tổng tiền</th>
                              <th class="product-remove">&nbsp;</th>
                          </tr>
                      </thead>

                      <tbody>
                          <tr *ngFor="let i of items">
                              <td class="product-thumbnail">
                                  <a href="#">
                                      <img src="assets/images/product/{{i.anh}}" class="img-fluid" alt="">
                                  </a>
                              </td>
                              <td class="product-name">
                                  <a href="#" style="font-size: 10px;">{{i.tensp}}</a>
                                  <span class="product-variation">{{i.dungtich}}</span>
                              </td>

                              <td class="product-price"><span class="price">{{i.dongia |number }} vnđ</span></td>

                                <td class="product-quantity">
                                  <div class="pro-qty d-inline-block mx-0">
                                    <input type="number" min='1' [max]="i.soluong" title="Qty" #inp  name="qtybutton"  (change)="addQty(i,inp.value)" [value]="i.quantity">
                                  </div>
                              </td>
                              <td class="total-price"><span class="price">{{i.money |number}} vnđ</span></td>

                              <td class="product-remove">
                                  <a (click)="_cart.deleteItem(i.masp)">
                                      <i class="ion-android-close"></i>
                                  </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <!--=======  End of cart table  =======-->
          </div>
          <div class="col-lg-12 mb-80">
              <!--=======  coupon area  =======-->

              <div class="cart-coupon-area pb-30">
                  <div class="row align-items-center">
                      <div class="col-lg-6 mb-md-30 mb-sm-30">
                          <!--=======  coupon form  =======
                          <div class="lezada-form coupon-form">
                              <form action="#">
                                  <div class="row">
                                      <div class="col-md-7 mb-sm-10">
                                          <input type="text" placeholder=" Nhập mã giảm giá...">
                                      </div>
                                      <div class="col-md-5">
                                          <button class="lezada-button lezada-button--medium">ÁP DỤNG </button>
                                      </div>
                                  </div>
                              </form>
                          </div>

                          =======  End of coupon form  =======-->
                      </div>

                      <div class="col-lg-6 text-left text-lg-right">
                          <!--=======  update cart button  =======-->

                          <button class="lezada-button lezada-button--medium">update cart</button>

                          <!--=======  End of update cart button  =======-->
                      </div>
                  </div>
              </div>

              <!--=======  End of coupon area  =======-->
          </div>

          <div class="col-xl-4 offset-xl-8 col-lg-5 offset-lg-7">
              <div class="cart-calculation-area">
                  <h2 class="mb-40">GIỎ HÀNG</h2>

                  <table class="cart-calculation-table mb-30">
                      <tr>
                          <th>TỔNG TIỀN</th>
                          <td class="total">{{total|number}} vnđ</td>
                      </tr>
                  </table>

                  <div class="cart-calculation-button text-center">
                      <button class="lezada-button lezada-button--medium" routerLink="/checkout">THANH TOÁN</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--=====  End of cart page content  ======-->