	<!--=============================================
    =            slider area         =
    =============================================-->

	<div class="slider-area mb-90">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-6 mb-md-40 mb-sm-40">
					<!--=======  slider wrapper  =======-->

					<div class="slider-wrapper">
						<div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
							data-alias="homepage-13" data-source="gallery"
							style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
							<!-- START REVOLUTION SLIDER 5.4.7 auto mode -->
							<div id="rev_slider_13_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
								<ul>
									<!-- SLIDE  -->
									<li data-index="rs-33"
										data-transition="parallaxtoright,parallaxtoleft,parallaxtotop,parallaxtobottom,parallaxhorizontal,parallaxvertical,fadefromright,fadefromleft,fadefromtop,fadefrombottom"
										data-slotamount="default,default,default,default,default,default,default,default,default,default"
										data-hideafterloop="0" data-hideslideonmobile="off"
										data-easein="default,default,default,default,default,default,default,default,default,default"
										data-easeout="default,default,default,default,default,default,default,default,default,default"
										data-masterspeed="700,default,default,default,default,default,default,default,default,default"
										data-thumb="assets/images/revimages/perfumes/100x50_slider-homepage13-img2.png"
										data-rotate="0,0,0,0,0,0,0,0,0,0" data-saveperformance="off" data-title="Slide" data-param1=""
										data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
										data-param8="" data-param9="" data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="assets/images/revimages/dummy.png" alt=""
											data-lazyload="assets/images/revimages/perfumes/slider-homepage13-img2.png"
											data-bgposition="center center" data-kenburns="on" data-duration="10000"
											data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0"
											data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0"
											class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->

										<!-- LAYER NR. 1 -->
										<div class="tp-caption   tp-resizeme" id="slide-33-layer-13"
											data-x="['left','center','left','left']" data-hoffset="['71','-342','65','38']"
											data-y="['middle','top','top','top']" data-voffset="['183','194','612','460']"
											data-fontsize="['24','24','24','20']"
											data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":1020,"speed":1790,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
											style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 600; color: #333333; letter-spacing: 5px;font-family:Work Sans;">
											Nước hoa mới</div>

										<!-- LAYER NR. 2 -->
										<div class="tp-caption   tp-resizeme" id="slide-33-layer-3"
											data-x="['left','center','center','left']" data-hoffset="['69','-224','-111','36']"
											data-y="['top','middle','middle','top']" data-voffset="['630','-103','215','508']"
											data-fontsize="['56','56','56','40']" data-lineheight="['70','60','60','60']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"delay":720,"split":"chars","splitdelay":0.05,"speed":2140,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 70px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
											Bộ sưu tập mùa xuân </div>

										<!-- LAYER NR. 3 -->
										<div class="tp-caption button-under-line rev-btn  tp-resizeme" id="slide-33-layer-20"
											data-x="['left','center','center','left']" data-hoffset="['75','-369','-246','39']"
											data-y="['top','top','top','top']" data-voffset="['726','362','781','607']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
											data-responsive_offset="on"
											data-frames='[{"delay":1280,"speed":1790,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(211,18,42);bc:rgb(211,18,42);"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[3,3,3,3]" data-paddingleft="[0,0,0,0]"
											style="z-index: 7; white-space: nowrap; letter-spacing: 1px;border-color:rgb(51,51,51);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
											<a class="revslider-button-red" href="shop-left-sidebar.html"> Của cửa hàng</a> </div>
									</li>
									<!-- SLIDE  -->
									<li data-index="rs-34"
										data-transition="fadefromright,fadefromleft,fadefromtop,fadefrombottom,fadetoleftfadefromright,fadetorightfadefromleft,fadetotopfadefrombottom,fadetobottomfadefromtop"
										data-slotamount="default,default,default,default,default,default,default,default"
										data-hideafterloop="0" data-hideslideonmobile="off"
										data-easein="default,default,default,default,default,default,default,default"
										data-easeout="default,default,default,default,default,default,default,default"
										data-masterspeed="700,default,default,default,default,default,default,default"
										data-thumb="assets/images/revimages/perfumes/100x50_slider-homepage13-img2.png"
										data-rotate="0,0,0,0,0,0,0,0" data-saveperformance="off" data-title="Slide" data-param1=""
										data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
										data-param8="" data-param9="" data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="assets/images/revimages/dummy.png" alt=""
											data-lazyload="assets/images/revimages/perfumes/slider-homepage13-img2.png"
											data-bgposition="center center" data-kenburns="on" data-duration="10000"
											data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0"
											data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0"
											class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->

										<!-- LAYER NR. 4 -->
										<div class="tp-caption   tp-resizeme" id="slide-34-layer-13"
											data-x="['left','center','left','left']" data-hoffset="['71','-339','65','38']"
											data-y="['middle','top','top','top']" data-voffset="['183','461','612','460']"
											data-fontsize="['24','24','24','20']"
											data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":440,"speed":1790,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
											style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 600; color: #333333; letter-spacing: 5px;font-family:Work Sans;">
											Bộ sưu tập </div>

										<!-- LAYER NR. 5 -->
										<div class="tp-caption   tp-resizeme" id="slide-34-layer-3"
											data-x="['left','center','center','left']" data-hoffset="['69','-234','-145','36']"
											data-y="['top','middle','middle','top']" data-voffset="['630','153','216','508']"
											data-fontsize="['56','56','56','40']" data-lineheight="['70','60','60','60']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"delay":290,"split":"chars","splitdelay":0.1,"speed":1640,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 70px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
											 nước hoa mini</div>

										<!-- LAYER NR. 6 -->
										<div class="tp-caption button-under-line rev-btn  tp-resizeme" id="slide-34-layer-20"
											data-x="['left','center','center','left']" data-hoffset="['75','-345','-246','39']"
											data-y="['top','top','top','top']" data-voffset="['726','619','781','607']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
											data-responsive_offset="on"
											data-frames='[{"delay":830,"speed":1790,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(211,18,42);bc:rgb(211,18,42);"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[3,3,3,3]" data-paddingleft="[0,0,0,0]"
											style="z-index: 7; white-space: nowrap; letter-spacing: 1px;border-color:rgb(51,51,51);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
											<a class="revslider-button-red" href="shop-left-sidebar.html"> Mua ngay</a> </div>
									</li>
									<!-- SLIDE  -->
									<li data-index="rs-35"
										data-transition="curtain-1,curtain-2,curtain-3,slideremoveup,slideremovedown,slideremoveright,slideremoveleft,slideremovehorizontal,slideremovevertical"
										data-slotamount="default,default,default,default,default,default,default,default,default"
										data-hideafterloop="0" data-hideslideonmobile="off"
										data-easein="default,default,default,default,default,default,default,default,default"
										data-easeout="default,default,default,default,default,default,default,default,default"
										data-masterspeed="700,default,default,default,default,default,default,default,default"
										data-thumb="assets/images/revimages/perfumes/100x50_slider-homepage13-img3.png"
										data-rotate="0,0,0,0,0,0,0,0,0" data-saveperformance="off" data-title="Slide" data-param1=""
										data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
										data-param8="" data-param9="" data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="assets/images/revimages/dummy.png" alt=""
											data-lazyload="assets/images/revimages/perfumes/slider-homepage13-img3.png"
											data-bgposition="center center" data-kenburns="on" data-duration="10000"
											data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0"
											data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0"
											class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->

										<!-- LAYER NR. 7 -->
										<div class="tp-caption   tp-resizeme" id="slide-35-layer-13"
											data-x="['left','center','left','left']" data-hoffset="['71','-339','65','38']"
											data-y="['middle','top','top','top']" data-voffset="['183','461','612','460']"
											data-fontsize="['24','24','24','20']"
											data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":500,"speed":1790,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
											style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 600; color: #333333; letter-spacing: 5px;font-family:Work Sans;">
											Nước Hoa </div>

										<!-- LAYER NR. 8 -->
										<div class="tp-caption   tp-resizeme" id="slide-35-layer-3"
											data-x="['left','center','center','left']" data-hoffset="['69','-234','-145','36']"
											data-y="['top','middle','middle','top']" data-voffset="['630','153','216','508']"
											data-fontsize="['56','56','56','40']" data-lineheight="['70','60','60','60']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 70px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">
											Nước Hoa Hàng Đầu </div>

										<!-- LAYER NR. 9 -->
										<div class="tp-caption button-under-line rev-btn  tp-resizeme" id="slide-35-layer-20"
											data-x="['left','center','center','left']" data-hoffset="['75','-345','-246','39']"
											data-y="['top','top','top','top']" data-voffset="['726','619','781','607']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-type="button" data-actions=''
											data-responsive_offset="on"
											data-frames='[{"delay":920,"speed":1790,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(211,18,42);bc:rgb(211,18,42);"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[3,3,3,3]" data-paddingleft="[0,0,0,0]"
											style="z-index: 7; white-space: nowrap; letter-spacing: 1px;border-color:rgb(51, 51, 51);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
											<a class="revslider-button-red" href="shop-left-sidebar.html">  Của Cửa Hàng</a> </div>
									</li>
								</ul>
								<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
							</div>
						</div><!-- END REVOLUTION SLIDER -->
					</div>

					<!--=======  End of slider wrapper  =======-->
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12 mb-40">
							<!--=======  hover zoom banner  =======-->

							<div class="single-banner single-banner--hoverzoom">
								<a href="shop-left-sidebar.html">
									<img src="assets/images/banners/banner-comestic-1.jpg" class="img-fluid" alt="">
									<span class="banner-content banner-content--product-type banner-content--product-type--bigtitle">
										<span class="name">Nước hoa giành <span>cho phái nữ</span></span>
										<span class="price">450.000đ</span>
									</span>
								</a>
							</div>

							<!--=======  End of hover zoom banner  =======-->
						</div>
						<div class="col-lg-12">
							<!--=======  hover zoom banner  =======-->

							<div class="single-banner single-banner--hoverzoom">
								<a href="shop-left-sidebar.html">
									<img src="assets/images/banners/banner-comestic-2.jpg" class="img-fluid" alt="">
									<span class="banner-content banner-content--product-type banner-content--product-type--bigtitle">
										<span class="name">Victoria Secrect <span> Nước Hoa</span></span>
										<span class="price">650.000 đ</span>
									</span>
								</a>
							</div>

							<!--=======  End of hover zoom banner  =======-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of slider area  ======-->


	<!--=============================================
	=            section title  container      =
	=============================================-->

	<div class="section-title-container mb-40">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div
						class="section-title__label section-title__label-style2 section-title__label--left section-title__label-style3--left">
						<p> <span class="line"></span></p>
					</div>
				</div>

				<div class="col-6 text-right">
					<div
						class="section-title__label  section-title__label-style2 section-title__label--right section-title__label-style3--right">
						<p> <br></p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--=====  End of section title container ======-->

	<!--=============================================
    =            countdowntimer area         =
    =============================================-->

	<div class="countdown-timer-area mb-100 mb-md-60 mb-sm-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="countdown-background pt-30 pb-30">
						<div class="row align-items-center">
							<div class="col-12 col-xl-5 col-lg-3">
								<div class="countdown-image text-center">
									<img src="assets/images/banners/deal-of-the-day.jpg" class="img-fluid" alt="">
								</div>
							</div>

							<div class=" col-12 col-xl-7 col-lg-9">
								<div class="countdown-wrapper text-center">
									<h3>Nước Hoa Hàng Đầu Việt Nam</h3>
									
									<a href="shop-left-sidebar.html"
										class="lezada-button lezada-button--medium lezada-button--icon--left"> <i
											class="icon-left ion-ios-cart"></i> Mua ngay</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of countdowntimer area  ======-->



	<!--=============================================
	=            product isotope area         =
	=============================================-->

	<div class="product-isotope-area mb-100">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  fitler titles 1 =======-->

					<div class="filter-title filter-title--type-one mb-70">
						<ul class="product-filter-menu">
							<li class="active" data-filter="*">Sản phẩm  </li>
						</ul>
					</div>

					<!--=======  End of fitler titles 1 =======-->
				</div>

				<div class="col-lg-12">
					<div class="row product-isotope">


					
						<!--=======  single product  =======-->
                     <ng-container *ngFor="let spall of sp">   
						<div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-is-five mb-45 new sale">
							<div class="single-product">
								<!--=======  single product image  =======-->

								<div class="single-product__image">
									<a class="image-wrap" [routerLink] = "['/home/details',spall.masp]">
										<img src="assets/images/product/{{spall.anh}}" class="img-fluid" alt="">
										<img src="assets/images/product/{{spall.anh}}" class="img-fluid" alt="">
									</a>
									<div class="single-product__floating-icons">
										<span class="wishlist"><a href="#" data-tippy="Add to wishlist" data-tippy-inertia="true"
												data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder" data-tippy-placement="left"><i
													class="ion-android-favorite-outline"></i></a></span>
										<span class="compare"><a href="#" data-tippy="Compare" data-tippy-inertia="true"
												data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder" data-tippy-placement="left"><i
													class="ion-ios-shuffle-strong"></i></a></span>
										<span class="quickview"><a class="cd-trigger" href="#qv-1" data-tippy="Quick View"
												data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
												data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left"><i
													class="ion-ios-search-strong"></i></a></span>
									</div>
								</div>

								<!--=======  End of single product image  =======-->

								<!--=======  single product content  =======-->

								<div class="single-product__content">
									<div class="title">
										<h3> <a [routerLink] = "['/home/details',spall.masp]" style="font-size: 13px;">{{spall.tensp}}</a></h3>
										<a (click)="addToCart(spall)">Thêm vào giỏ hàng</a>
									</div>
									<div class="price">
										<span class="main-price">{{spall.dongia | number}} </span>
									</div>
								</div>

								<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
                     </ng-container>
					</div>

					<div class="row" >
						<div class="col-lg-12 text-right mt-25" style="margin-left:900px;" >
							<ngb-pagination  [collectionSize]="sp[0].total" [pageSize]="size" [(page)]="index" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
						</div>
					</div>
				</div>
                <div class="col-lg-12">
					<!--=======  fitler titles 2  =======-->

					<div class="filter-title filter-title--type-one mb-70">
						<ul class="product-filter-menu">
							<li class="active" data-filter="*">Sản phẩm mới </li>
						</ul>
					</div>

					<!--=======  End of fitler titles 2  =======-->
				</div>

				<div class="col-lg-12">
					<div class="row product-isotope">


					
						<!--=======  single product  =======-->
                     <ng-container *ngFor="let spall of sp_new">   
						<div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-is-five mb-45 new sale">
							<div class="single-product">
								<!--=======  single product image  =======-->

								<div class="single-product__image">
									<a class="image-wrap" [routerLink]="['/home/details/',spall.masp]">
										<img src="assets/images/product/{{spall.anh}}" class="img-fluid" alt="">
										<img src="assets/images/product/{{spall.anh}}" class="img-fluid" alt="">
									</a>

									

									<div class="single-product__floating-icons">
										<span class="wishlist"><a href="#" data-tippy="Add to wishlist" data-tippy-inertia="true"
												data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder" data-tippy-placement="left"><i
													class="ion-android-favorite-outline"></i></a></span>
										<span class="compare"><a href="#" data-tippy="Compare" data-tippy-inertia="true"
												data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder" data-tippy-placement="left"><i
													class="ion-ios-shuffle-strong"></i></a></span>
										<span class="quickview"><a class="cd-trigger" href="#qv-1" data-tippy="Quick View"
												data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
												data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left"><i
													class="ion-ios-search-strong"></i></a></span>
									</div>
								</div>

								<!--=======  End of single product image  =======-->

								<!--=======  single product content  =======-->

								<div class="single-product__content">
									<div class="title">
										<h3> <a [routerLink]="['/home/details/',spall.masp]" style="font-size: 13px;">{{spall.tensp}}</a></h3>
										<a (click)="addToCart(spall)">Thêm vào giỏ hàng</a>
									</div>
									<div class="price">
										<span class="main-price">{{spall.dongia | number}} vnđ</span>
									</div>
								</div>

								<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
                     </ng-container>
					</div>

					<div class="row">
						<div class="col-lg-12 text-center mt-25">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of product isotope area  ======-->

	<!--=============================================
	=            hover banner area         =
	=============================================-->

	<div class="hover-banner-area mb-70 mb-md-60 mb-sm-60">
		<div class="container wide">
			<div class="row">
				<div class="col-md-6 mb-30">
					<!--=======  single banner  =======-->

					<div class="single-banner single-banner--hoverborder">
						<a class="banner-link" href="shop-left-sidebar.html"></a>
						<img src="assets/images/banners/banner-comestic-3.jpg" class="img-fluid" alt="">
						<div class="banner-content banner-content--middle-white banner-content--middle-dark">
							<p> <span class="bold-white">Giảm 10%</span> khi mua  <span class="d-block">trực tiếp tại cửa hàng</span></p>
						</div>
					</div>

					<!--=======  End of single banner  =======-->
				</div>
				<div class="col-md-6 mb-30">
					<!--=======  single banner  =======-->

					<div class="single-banner single-banner--hoverborder">
						<a class="banner-link" href="shop-left-sidebar.html"></a>
						<img src="assets/images/banners/banner-comestic-4.jpg" class="img-fluid" alt="">
						<div class="banner-content banner-content--black-left">
							<p> <span class="big-text">Miễn phí ship</span> <span class="small-text d-block">khi đặt hàng trực tuyến</span></p>
						</div>
					</div>

					<!--=======  End of single banner  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of hover banner area  ======-->

	<!--=======  blog post area  =======-->

	<div class="blog-post-area mb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 mb-50 mb-lg-0">
					<!--=======  blog intro  =======-->

					<div class="blog-intro">
						<h2>Blog của chúng tôi</h2>
						<p>Cửa hàng nước hoa Linhperfume luôn phục vụ tận tình chiều lòng những khách hàng khó tính nhất</p>
						<a href="blog-standard-left-sidebar.html" class="lezada-button lezada-button--medium">Xem </a>
					</div>

					<!--=======  End of blog intro  =======-->
				</div>
				<div class="col-lg-8">
					<!--=======  blog post slider container  =======-->

					<div class="blog-post-slider-container">
						<div class="lezada-slick-slider blog-post-slider" data-slick-setting='{
							"slidesToShow": 2,
							"arrows": true,
							"speed": 800,
							"prevArrow": {"buttonClass": "slick-prev", "iconClass": "ti-angle-left" },
							"nextArrow": {"buttonClass": "slick-next", "iconClass": "ti-angle-right" }
						}' data-slick-responsive='[
							{"breakpoint":1501, "settings": {"slidesToShow": 2} },
							{"breakpoint":1199, "settings": {"slidesToShow": 2} },
							{"breakpoint":991, "settings": {"slidesToShow": 2, "arrows": false} },
							{"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false} },
							{"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
							{"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
						]'>
							<!--=======  single slider post  =======-->
							<div class="col">
								<div class="single-slider-post">
									<!--=======  image  =======-->

									<div class="single-slider-post__image mb-30">
										<a href="blog-single-post-left-sidebar.html">
											<img src="assets/images/blog/post-thumbnail-1-370x200.png" class="img-fluid" alt="">
										</a>
									</div>

									<!--=======  End of image  =======-->

									<!--=======  content  =======-->

									<div class="single-slider-post__content">
										<div class="post-date">
											<i class="ion-android-calendar"></i>
											<a href="blog-standard-left-sidebar.html"> Tháng 5, 2020</a>
										</div>
										<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Bạn có đang bảo quản nước hoa của mình sai cách không?</a></h2>
										<p class="post-excerpt">Nếu vậy, bạn có thể làm hỏng mùi hương của chúng đấy.
											Có thể nói nước hoa không có hạn sử dụng như thực phẩm và các sản phẩm làm đẹp khác,
											 bạn có thể có rất bất ngờ rằng nước hoa không thể hư hỏng. 
										</p>
										<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">xem</a>
									</div>

									<!--=======  End of content  =======-->
								</div>
							</div>

							<!--=======  End of single slider post  =======-->
							<!--=======  single slider post  =======-->
							<div class="col">
								<div class="single-slider-post">
									<!--=======  image  =======-->

									<div class="single-slider-post__image mb-30">
										<a href="blog-single-post-left-sidebar.html">
											<img src="assets/images/blog/post-thumbnail-2-1-370x200.png" class="img-fluid" alt="">
										</a>
									</div>

									<!--=======  End of image  =======-->

									<!--=======  content  =======-->

									<div class="single-slider-post__content">
										<div class="post-date">
											<i class="ion-android-calendar"></i>
											<a href="blog-standard-left-sidebar.html"> tháng 9, 2020</a>
										</div>
										<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Thời hạn sử dụng của nước hoa là gì?</a>
										</h2>
										<p class="post-excerpt">Bạn đã bao giờ mê mẩn hương thơm của nước hoa nhưng đến một ngày nọ, 
											bạn lại ngửi thử và đột nhiên bạn nhận ra bạn không thích nó lắm? Chắc chắn, 
											hương vị nước hoa của bạn có thể đã thay đổi, hoặc có thể chai nước hoa đã hết hạn sử dụng</p>
										<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">xem chi tiết</a>
									</div>

									<!--=======  End of content  =======-->
								</div>
							</div>

							<!--=======  End of single slider post  =======-->
							<!--=======  single slider post  =======-->
							<div class="col">
								<div class="single-slider-post">
									<!--=======  image  =======-->

									<div class="single-slider-post__image mb-30">
										<a href="blog-single-post-left-sidebar.html">
											<img src="assets/images/blog/post-thumbnail-8-370x200.png" class="img-fluid" alt="">
										</a>
									</div>

									<!--=======  End of image  =======-->

									<!--=======  content  =======-->

									<div class="single-slider-post__content">
										<div class="post-date">
											<i class="ion-android-calendar"></i>
											<a href="blog-standard-left-sidebar.html"> june 8, 2018</a>
										</div>
										<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Thời hạn sử dụng của nước hoa là gì? Làm thế nào để biết đã đến lúc phải vứt bỏ</a>
										</h2>
										<p class="post-excerpt">Bạn đã bao giờ mê mẩn hương thơm của nước hoa nhưng đến một ngày nọ, bạn lại ngửi thử và đột nhiên bạn nhận ra bạn không thích nó lắm? Chắc chắn, hương vị nước hoa của bạn có thể đã thay đổi, hoặc có thể chai nước hoa đã hết hạn sử dụng</p>
										<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">Xem chi tiết</a>
									</div>

									<!--=======  End of content  =======-->
								</div>
							</div>

							<!--=======  End of single slider post  =======-->
							<!--=======  single slider post  =======-->
							<div class="col">
								<div class="single-slider-post">
									<!--=======  image  =======-->

									<div class="single-slider-post__image mb-30">
										<a href="blog-single-post-left-sidebar.html">
											<img src="assets/images/blog/post-thumbnail-370x200.png" class="img-fluid" alt="">
										</a>
									</div>

									<!--=======  End of image  =======-->

									<!--=======  content  =======-->

									<div class="single-slider-post__content">
										<div class="post-date">
											<i class="ion-android-calendar"></i>
											<a href="blog-standard-left-sidebar.html"> tháng 10, 2020</a>
										</div>
										<h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Tổng hợp 5 loại serum dưỡng ẩm cho da khô dùng “1 lần” là “nghiện”</a>
										</h2>
										<p class="post-excerpt">Serum dưỡng ẩm cho da khô là một trong những cách mang lại hiệu quả cấp nước, dưỡng ẩm nhanh chóng cho làn da. Vì vậy đây cũng là sản phẩm được các nàng quan tâm và tìm kiếm nhiều nhất hiện nay. Hiểu được tầm quan trọng này, Boshop muốn gợi ý đến các nàng những loại serum “ngon - bổ - rẻ” mà lại “siêu hợp cạ” cho làn da khô</p>
										<a href="blog-single-post-left-sidebar.html" class="blog-readmore-btn">read more</a>
									</div>

									<!--=======  End of content  =======-->
								</div>
							</div>

							<!--=======  End of single slider post  =======-->
						</div>
					</div>

					<!--=======  End of blog post slider container  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of blog post area  =======-->

	<!--=============================================
	=            instagram slider area         =
	=============================================-->

	<div class="instagram-slider-area mb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 order-2 order-lg-1">
					<!--=============================================
                    =            instagram image slider         =
                    =============================================-->

					<div class="instagram-image-slider-area">
						<!--=======  instagram image container  =======-->

						<div class="instagram-image-slider-container">
							<div class="instagram-feed-thumb">
								<div id="instagramFeedThree" class="instagram-carousel">
								</div>
							</div>
						</div>

						<!--=======  End of instagram image container  =======-->
					</div>

					<!--=====  End of instagram image slider  ======-->
				</div>
				<div class="col-lg-4 order-1 order-lg-2">
					<!--=======  instagram intro  =======-->

					<div
						class="instagram-section-intro pl-50 pl-lg-50 pl-md-0 pl-sm-0 pl-xs-0 pl-xxs-0 mb-0 mb-lg-0 mb-md-50 mb-sm-50 mb-xs-50 mb-xxs-50">
						<p><a href="#">@lezada_shop</a></p>
						<h3>Follow us on Instagram</h3>
					</div>

					<!--=======  End of instagram intro  =======-->
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of instagram slider area  ======-->